
# R projects
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.Rdata

# ADMB files
*.cov
*.dep
*.hes
*.tmp
*.log
*.b01
*.bar
*.cor
*.cout
*.cpp
*.ecm
*.eva
*.exe
*.hst
*.htp
*.mc2
*.mcm
*.obj
*.p01
*.par
*.psv
*.r01
*.rep
*.std
*.out
*.ps
sims

*.xlsx
*.xlsm

# Windows thumbnail cache files
Thumbs.db